Repository api-platform/core, pull requests merged in 2019-03, with the labels that each got.

#2571 [GraphQL] Make clientMutationId nullable
  features/graphql/mutation.feature
  src/GraphQl/Type/SchemaBuilder.php
Labels: GraphQL, bug

#2575 Search filter should not use DbRef for association
  features/doctrine/search_filter.feature
  src/Bridge/Doctrine/MongoDbOdm/Filter/SearchFilter.php
  tests/Bridge/Doctrine/MongoDbOdm/Filter/SearchFilterTest.php
  tests/Fixtures/TestBundle/Document/RelatedToDummyFriend.php
Labels: MongoDB

#2193 [GraphQL] Allow non-writeable fields in mutation response
  features/graphql/introspection.feature
  features/graphql/mutation.feature
  src/GraphQl/Type/SchemaBuilder.php
Labels: GraphQL, bug

#2558 fix graphql operation xsd
  src/Metadata/schema/metadata.xsd
  tests/Fixtures/Metadata/schema/invalid.xml
  tests/Fixtures/Metadata/schema/valid.xml
  tests/Metadata/schema/XmlSchemaTest.php
Labels: GraphQL, bug

#2576 [GraphQL] Avoid to call serialize in ItemNormalizer
  src/Bridge/Symfony/Bundle/Resources/config/graphql.xml
  src/Bridge/Symfony/Routing/IriConverter.php
  src/GraphQl/Resolver/Factory/CollectionResolverFactory.php
  src/GraphQl/Resolver/ResourceFieldResolver.php
  src/GraphQl/Serializer/ItemNormalizer.php
  src/GraphQl/Type/SchemaBuilder.php
  tests/GraphQl/Resolver/Factory/CollectionResolverFactoryTest.php
  tests/GraphQl/Resolver/ResourceFieldResolverTest.php
  tests/GraphQl/Serializer/ItemNormalizerTest.php
Labels: GraphQL, performance

#2243 Improve the ExistsFilter behavior (to cohabit with the SearchFilter)
  features/doctrine/date_filter.feature
  features/doctrine/exists_filter.feature
  features/graphql/filters.feature
  features/main/crud.feature
  src/Bridge/Doctrine/Common/Filter/ExistsFilterTrait.php
  src/Bridge/Doctrine/MongoDbOdm/Filter/ExistsFilter.php
  src/Bridge/Doctrine/Orm/Filter/ExistsFilter.php
  src/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtension.php
  src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
  src/Bridge/Symfony/Bundle/Resources/config/doctrine_mongodb_odm.xml
  src/Bridge/Symfony/Bundle/Resources/config/doctrine_orm.xml
  tests/Bridge/Doctrine/Common/Filter/ExistsFilterTestTrait.php
  tests/Bridge/Doctrine/MongoDbOdm/Filter/ExistsFilterTest.php
  tests/Bridge/Doctrine/Orm/Filter/ExistsFilterTest.php
  tests/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtensionTest.php
  tests/Bridge/Symfony/Bundle/DependencyInjection/ConfigurationTest.php
  tests/Fixtures/app/config/config_orm.yml
  tests/Fixtures/app/config/config_services_mongodb.yml
Labels: GraphQL

#2597 [MongoDB] Fix numeric and range filters coercion
  features/doctrine/date_filter.feature
  features/doctrine/multiple_filter.feature
  features/doctrine/numeric_filter.feature
  features/doctrine/range_filter.feature
  phpstan.neon
  src/Bridge/Doctrine/Common/Filter/NumericFilterTrait.php
  src/Bridge/Doctrine/Common/Filter/RangeFilterTrait.php
  src/Bridge/Doctrine/MongoDbOdm/Filter/NumericFilter.php
  tests/Bridge/Doctrine/MongoDbOdm/Filter/NumericFilterTest.php
  tests/Bridge/Doctrine/MongoDbOdm/Filter/RangeFilterTest.php
  tests/Bridge/Doctrine/MongoDbOdm/Filter/SearchFilterTest.php
  tests/Fixtures/TestBundle/Document/Dummy.php
Labels: MongoDB

#2600 [GraphQL] Add a command for exporting a SDL schema
  behat.yml.dist
  features/bootstrap/CommandContext.php
  features/graphql/schema.feature
  src/Bridge/Symfony/Bundle/Command/GraphQlExportCommand.php
  src/Bridge/Symfony/Bundle/Resources/config/graphql.xml
  tests/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtensionTest.php
Labels: GraphQL

#2606 Install phpstan locally and use extensions
  .circleci/config.yml
  .editorconfig
  composer.json
  phpstan.neon
  phpstan.neon.dist
  src/Bridge/Symfony/Bundle/Action/SwaggerUiAction.php
  src/Bridge/Symfony/Routing/IriConverter.php
  src/GraphQl/Action/EntrypointAction.php
  src/GraphQl/Serializer/ItemNormalizer.php
  src/Hal/Serializer/CollectionNormalizer.php
  src/Hal/Serializer/ItemNormalizer.php
  src/Identifier/Normalizer/IntegerDenormalizer.php
  src/JsonApi/Serializer/CollectionNormalizer.php
  src/Metadata/Property/Factory/ExtractorPropertyMetadataFactory.php
  src/Util/RequestParser.php
  tests/Bridge/Symfony/Bundle/Action/SwaggerUiActionTest.php
  tests/Bridge/Symfony/Messenger/DataPersisterTest.php
  tests/Fixtures/app/console
  tests/GraphQl/Action/EntrypointActionTest.php
  tests/GraphQl/Resolver/Factory/CollectionResolverFactoryTest.php
  tests/GraphQl/Resolver/Factory/ItemMutationResolverFactoryTest.php
  tests/JsonApi/Serializer/CollectionNormalizerTest.php
  tests/Metadata/Property/Factory/AnnotationPropertyMetadataFactoryTest.php
  tests/Metadata/Property/Factory/AnnotationPropertyNameCollectionFactoryTest.php
  tests/Metadata/Property/Factory/AnnotationSubresourceMetadataFactoryTest.php
  tests/Metadata/Resource/Factory/AnnotationResourceMetadataFactoryTest.php
  tests/Swagger/Serializer/ApiGatewayNormalizerTest.php
Labels: [RFR] Ready for Review

#2627 [jsonapi][jsonhal] Correct normalization of output class and non-resource
  features/bootstrap/DoctrineContext.php
  features/hal/input_output.feature
  features/jsonapi/input_output.feature
  features/main/input_output.feature
  features/main/non_resource.feature
  src/Hal/Serializer/ItemNormalizer.php
  src/JsonApi/Serializer/ItemNormalizer.php
  src/Serializer/AbstractItemNormalizer.php
Labels: [RFR] Ready for Review, bug

#2629 Do not disable cache in dev
  src/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtension.php
  tests/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtensionTest.php
  tests/Fixtures/app/config/config_common.yml
Labels: [RFR] Ready for Review, performance

#2445 [GraphQL] Add custom queries
  features/graphql/query.feature
  src/Bridge/Symfony/Bundle/ApiPlatformBundle.php
  src/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtension.php
  src/Bridge/Symfony/Bundle/DependencyInjection/Compiler/GraphQlQueryResolverPass.php
  src/Bridge/Symfony/Bundle/Resources/config/graphql.xml
  src/GraphQl/Resolver/ItemResolver.php
  src/GraphQl/Resolver/QueryResolverInterface.php
  src/GraphQl/Type/SchemaBuilder.php
  tests/Bridge/Symfony/Bundle/ApiPlatformBundleTest.php
  tests/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtensionTest.php
  tests/Fixtures/TestBundle/Document/DummyCustomQuery.php
  tests/Fixtures/TestBundle/Entity/DummyCustomQuery.php
  tests/Fixtures/TestBundle/Resolver/DummyCustomCollectionQueryResolver.php
  tests/Fixtures/TestBundle/Resolver/DummyCustomItemQueryResolver.php
  tests/Fixtures/app/config/config_common.yml
  tests/GraphQl/Type/SchemaBuilderTest.php
Labels: GraphQL

#2640 Remove a BC break introduced by #2243
  src/Bridge/Doctrine/Orm/Filter/ExistsFilter.php
Labels: [WIP] Work In Progress

#2647 GraphQl: parse input&messenger metadata
  features/main/input_output.feature
  src/Bridge/Symfony/Messenger/DataPersister.php
  src/Bridge/Symfony/Messenger/DataTransformer.php
  src/GraphQl/Resolver/Factory/ItemMutationResolverFactory.php
  src/GraphQl/Type/SchemaBuilder.php
  src/Metadata/Resource/Factory/InputOutputResourceMetadataFactory.php
  tests/Bridge/Symfony/Messenger/DataPersisterTest.php
  tests/Bridge/Symfony/Messenger/DataTransformerTest.php
  tests/Fixtures/TestBundle/Entity/MessengerWithInput.php
  tests/Metadata/Resource/Factory/InputOutputResourceMetadataFactoryTest.php
Labels: [RFR] Ready for Review

#2656 Don't load graphql services when disabled in config
  src/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtension.php
  tests/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtensionTest.php
Labels: bug

#2655 [GraphQL] Manage custom queries by using the internal resolvers
  features/bootstrap/DoctrineContext.php
  features/graphql/query.feature
  src/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtension.php
  src/Bridge/Symfony/Bundle/Resources/config/graphql.xml
  src/GraphQl/Resolver/Factory/CollectionResolverFactory.php
  src/GraphQl/Resolver/Factory/ItemResolverFactory.php
  src/GraphQl/Resolver/ItemResolver.php
  src/GraphQl/Resolver/QueryCollectionResolverInterface.php
  src/GraphQl/Resolver/QueryItemResolverInterface.php
  src/GraphQl/Type/SchemaBuilder.php
  tests/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtensionTest.php
  tests/Fixtures/TestBundle/Document/DummyCustomQuery.php
  tests/Fixtures/TestBundle/Entity/DummyCustomQuery.php
  tests/Fixtures/TestBundle/Resolver/DummyCustomCollectionQueryResolver.php
  tests/Fixtures/TestBundle/Resolver/DummyCustomItemQueryResolver.php
  tests/Fixtures/TestBundle/Resolver/DummyCustomQueryCollectionResolver.php
  tests/Fixtures/TestBundle/Resolver/DummyCustomQueryItemResolver.php
  tests/Fixtures/TestBundle/Resolver/DummyCustomQueryNotRetrievedItemDocumentResolver.php
  tests/Fixtures/TestBundle/Resolver/DummyCustomQueryNotRetrievedItemResolver.php
  tests/Fixtures/app/config/config_common.yml
  tests/Fixtures/app/config/config_orm.yml
  tests/Fixtures/app/config/config_services_mongodb.yml
  tests/GraphQl/Resolver/Factory/CollectionResolverFactoryTest.php
  tests/GraphQl/Resolver/Factory/ItemResolverFactoryTest.php
  tests/GraphQl/Resolver/ItemResolverTest.php
  tests/GraphQl/Type/SchemaBuilderTest.php
Labels: GraphQL

#2639 Don't use fetchJoinCollection on Doctrine Paginator when not needed
  composer.json
  phpstan.neon.dist
  src/Bridge/Doctrine/Orm/Extension/PaginationExtension.php
  src/Bridge/Doctrine/Orm/Util/QueryBuilderHelper.php
  src/Bridge/Doctrine/Orm/Util/QueryChecker.php
  src/Bridge/Doctrine/Orm/Util/QueryJoinParser.php
  tests/Bridge/Doctrine/Orm/Extension/PaginationExtensionTest.php
  tests/Bridge/Doctrine/Orm/Util/QueryBuilderHelperTest.php
  tests/Bridge/Doctrine/Orm/Util/QueryCheckerTest.php
  tests/Bridge/Doctrine/Orm/Util/QueryJoinParserTest.php
Labels: [RFR] Ready for Review
