Repository api-platform/core, pull requests merged in 2019-02, with the labels that each got.

#2465 Error if references are not stored correctly for lookups
  .circleci/config.yml
  behat.yml.dist
  features/doctrine/date_filter.feature
  features/main/crud.feature
  features/main/relation.feature
  features/main/subresource.feature
  features/mongodb/filters.feature
  src/Bridge/Doctrine/MongoDbOdm/PropertyHelperTrait.php
  tests/Bridge/Doctrine/MongoDbOdm/Extension/OrderExtensionTest.php
  tests/Fixtures/TestBundle/Document/FourthLevel.php
  tests/Fixtures/TestBundle/Document/ThirdLevel.php
  tests/Fixtures/TestBundle/Entity/FourthLevel.php
  tests/Fixtures/TestBundle/Entity/ThirdLevel.php
  tests/Fixtures/app/config/config_mongodb.yml
  tests/Fixtures/app/config/config_orm.yml
Labels: MongoDB

#2492 [GraphQL] Custom types
  src/Bridge/Symfony/Bundle/ApiPlatformBundle.php
  src/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtension.php
  src/Bridge/Symfony/Bundle/DependencyInjection/Compiler/GraphQlTypePass.php
  src/Bridge/Symfony/Bundle/Resources/config/graphql.xml
  src/GraphQl/Type/Definition/IterableType.php
  src/GraphQl/Type/Definition/TypeInterface.php
  src/GraphQl/Type/SchemaBuilder.php
  src/GraphQl/Type/TypesFactory.php
  src/GraphQl/Type/TypesFactoryInterface.php
  tests/Bridge/Symfony/Bundle/ApiPlatformBundleTest.php
  tests/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtensionTest.php
  tests/Bridge/Symfony/Bundle/DependencyInjection/Compiler/GraphQlTypePassTest.php
  tests/GraphQl/Type/Definition/IterableTypeTest.php
  tests/GraphQl/Type/SchemaBuilderTest.php
  tests/GraphQl/Type/TypesFactoryTest.php
Labels: GraphQL

#2298 bugfix: throw InvalidArgument on matching something that looks like an url
  features/main/crud.feature
  src/Bridge/Symfony/Routing/IriConverter.php
  tests/Bridge/Symfony/Routing/IriConverterTest.php
Labels: [RFR] Ready for Review, bug

#2314 Add tests on the debug bar/profiler view
  .travis.yml
  appveyor.yml
  composer.json
  src/Bridge/Symfony/Bundle/Resources/views/DataCollector/request.html.twig
  tests/Bridge/Symfony/Bundle/Twig/ApiPlatformProfilerPanelTest.php
  tests/Fixtures/app/AppKernel.php
  tests/Fixtures/app/config/config_common.yml
  tests/Fixtures/app/config/config_mongodb.yml
  tests/Fixtures/app/config/config_services_mongodb.yml
  tests/Fixtures/app/config/config_test_mongodb.yml
  tests/Fixtures/app/config/routing_test.yml
  tests/Fixtures/app/config/routing_test_mongodb.yml
Labels: Ready

#2523 fix #2342 add metadata aware name converter if available
  phpstan.neon
  src/Bridge/Elasticsearch/DataProvider/Extension/SortExtension.php
  src/Bridge/Elasticsearch/DataProvider/Filter/AbstractSearchFilter.php
  src/Bridge/Elasticsearch/DataProvider/Filter/OrderFilter.php
  src/Bridge/Elasticsearch/Serializer/ItemNormalizer.php
  src/Bridge/Elasticsearch/Serializer/NameConverter/InnerFieldsNameConverter.php
  src/Bridge/NelmioApiDoc/Parser/ApiPlatformParser.php
  src/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtension.php
  src/Bridge/Symfony/Bundle/DependencyInjection/Compiler/MetadataAwareNameConverterPass.php
  src/Hal/Serializer/ItemNormalizer.php
  src/JsonApi/Serializer/ConstraintViolationListNormalizer.php
  src/JsonApi/Serializer/ItemNormalizer.php
  src/JsonApi/Serializer/ReservedAttributeNameConverter.php
  src/JsonLd/ContextBuilder.php
  src/Serializer/AbstractConstraintViolationListNormalizer.php
  src/Serializer/AbstractItemNormalizer.php
  tests/Bridge/Elasticsearch/DataProvider/Extension/SortExtensionTest.php
  tests/Bridge/Elasticsearch/DataProvider/Filter/MatchFilterTest.php
  tests/Bridge/Elasticsearch/DataProvider/Filter/OrderFilterTest.php
  tests/Bridge/Elasticsearch/DataProvider/Filter/TermFilterTest.php
  tests/Bridge/Elasticsearch/Serializer/NameConverter/InnerFieldsNameConverterTest.php
  tests/Bridge/NelmioApiDoc/Parser/ApiPlatformParserTest.php
  tests/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtensionTest.php
  tests/Bridge/Symfony/Bundle/DependencyInjection/Compiler/MetadataAwareNameConverterPassTest.php
  tests/Hydra/Serializer/ConstraintViolationNormalizerTest.php
  tests/JsonApi/Serializer/ConstraintViolationNormalizerTest.php
  tests/Problem/Serializer/ConstraintViolationNormalizerTest.php
Labels: [RFR] Ready for Review

#2549 [MongoDB] Allow limit 0
  features/hydra/collection.feature
  src/Bridge/Doctrine/MongoDbOdm/Extension/PaginationExtension.php
  src/Bridge/Doctrine/MongoDbOdm/Paginator.php
  tests/Bridge/Doctrine/MongoDbOdm/Extension/PaginationExtensionTest.php
  tests/Bridge/Doctrine/MongoDbOdm/PaginatorTest.php
Labels: MongoDB

#1957 Fixes ignoring type checks during denormalization
  src/Serializer/AbstractItemNormalizer.php
  tests/Serializer/AbstractItemNormalizerTest.php
Labels: [RFR] Ready for Review

#2142 [GraphQl] Better pagination support
  features/graphql/collection.feature
  src/Bridge/Doctrine/MongoDbOdm/Extension/PaginationExtension.php
  src/Bridge/Doctrine/Orm/Extension/PaginationExtension.php
  src/DataProvider/ArrayPaginator.php
  src/DataProvider/Pagination.php
  src/GraphQl/Resolver/Factory/CollectionResolverFactory.php
  src/GraphQl/Type/SchemaBuilder.php
  tests/Bridge/Doctrine/MongoDbOdm/Extension/PaginationExtensionTest.php
  tests/DataProvider/ArrayPaginatorTest.php
  tests/Fixtures/TestBundle/DataProvider/DummyDtoNoInputCollectionDataProvider.php
  tests/GraphQl/Resolver/Factory/CollectionResolverFactoryTest.php
Labels: GraphQL, [RFR] Ready for Review

#2560 [GraphQL] Fix pagination
  features/graphql/collection.feature
  src/GraphQl/Resolver/Factory/CollectionResolverFactory.php
  tests/GraphQl/Resolver/Factory/CollectionResolverFactoryTest.php
Labels: GraphQL, bug
