Repository api-platform/core, pull requests merged in 2019-01, with the labels that each got.

#2427 Support DTO class on GraphQL
  features/bootstrap/FeatureContext.php
  features/graphql/mutation.feature
  features/graphql/query.feature
  src/GraphQl/Resolver/Factory/ItemMutationResolverFactory.php
  src/GraphQl/Type/SchemaBuilder.php
  tests/Fixtures/TestBundle/DataPersister/DummyDtoNoOutputDataPersister.php
  tests/Fixtures/TestBundle/DataProvider/DummyDtoNoInputCollectionDataProvider.php
  tests/Fixtures/TestBundle/Entity/DummyDtoNoInput.php
  tests/Fixtures/TestBundle/Entity/DummyDtoNoOutput.php
  tests/Fixtures/app/config/config_test.yml
Labels: GraphQL, [RFR] Ready for Review, help wanted

#2441 [GraphQL] Check item resource class in mutation
  features/graphql/mutation.feature
  src/GraphQl/Resolver/Factory/ItemMutationResolverFactory.php
Labels: GraphQL

#2442 Fix normalization of raw collections (not API resources)
  src/Hydra/Serializer/CollectionFiltersNormalizer.php
  src/Hydra/Serializer/CollectionNormalizer.php
  src/Serializer/AbstractCollectionNormalizer.php
  tests/Fixtures/Foo.php
  tests/Fixtures/NotAResource.php
  tests/Hydra/Serializer/CollectionFiltersNormalizerTest.php
  tests/Hydra/Serializer/CollectionNormalizerTest.php
Labels: [RFR] Ready for Review, bug

#2470 Decrease ApiGatewayNormalizer priority
  features/swagger/docs.feature
  src/Bridge/Symfony/Bundle/Command/SwaggerCommand.php
  src/Bridge/Symfony/Bundle/Resources/config/swagger.xml
  tests/Fixtures/TestBundle/Serializer/Normalizer/OverrideDocumentationNormalizer.php
  tests/Fixtures/app/config/config_common.yml
Labels: [RFR] Ready for Review, bug
