Repository api-platform/core, pull requests merged in 2021-03, with the labels that each got.

#3703 Do not add JOINs for Filters without a value
  CHANGELOG.md
  src/Bridge/Doctrine/MongoDbOdm/Filter/SearchFilter.php
  src/Bridge/Doctrine/Orm/Filter/SearchFilter.php
  tests/Bridge/Doctrine/Common/Filter/SearchFilterTestTrait.php
  tests/Bridge/Doctrine/MongoDbOdm/Filter/SearchFilterTest.php
  tests/Bridge/Doctrine/Orm/Filter/SearchFilterTest.php
Labels: needs test

#3696 Checking the output option when calculating property metadata
  CHANGELOG.md
  src/Metadata/Property/Factory/SerializerPropertyMetadataFactory.php
  tests/Metadata/Property/Factory/SerializerPropertyMetadataFactoryTest.php
Labels: needs test

#3525 Fix duplicated eager loading joins
  features/doctrine/eager_loading.feature
  src/Bridge/Doctrine/Orm/Extension/EagerLoadingExtension.php
  src/Bridge/Doctrine/Orm/Util/EagerLoadingTrait.php
  src/Bridge/Doctrine/Orm/Util/QueryBuilderHelper.php
  src/Bridge/Symfony/Bundle/Resources/config/doctrine_orm.xml
  tests/Behat/DoctrineContext.php
  tests/Bridge/Doctrine/Orm/Extension/EagerLoadingExtensionTest.php
  tests/Fixtures/TestBundle/Doctrine/Orm/EntityManager.php
  tests/Fixtures/TestBundle/Entity/RelatedDummy.php
  tests/Fixtures/TestBundle/Filter/ComplexSubQueryFilter.php
  tests/Fixtures/app/config/config_test.yml
Labels: [RFR] Ready for Review

#4146 Fix #2928: do not override Vary headers already set in the Response
  CHANGELOG.md
  src/HttpCache/EventListener/AddHeadersListener.php
  tests/HttpCache/EventListener/AddHeadersListenerTest.php
Labels: bug
